.container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20vw;
  margin-top: 300px;
  margin-bottom: 300px;
}

.contentContainer {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.body {
  font-size: 2vw;
  font-weight: lighter;
  line-height: 1.5em;
  flex-basis: 50%;
}

.imageContainer {
  flex-basis: 50%;
  width: 50%;
  display: flex;
  overflow: hidden;
  height: 500px;
}

.lineMask{
  overflow: hidden;
}

.lineMask p {
  margin: 0px;
  font-weight: 700;
}

.lineMask{
  overflow: hidden;
}